#header {
    height: 65px;
    background-color: white;
}

.main-nav {
    display: flex;
    margin-top: 0;
    align-items: center;

    img {
        height: 59px;
        width: 211px;
    }

    li {
        list-style: none;
    }

    li:first-child {
        margin-right: auto;

        a {
            padding: 0;
        }
    }

    a {
        display: block;
        text-decoration: none;
        padding: 15px 20px;
        color: $deep-chestnut;
        font-weight: bold;
    }

    .buynow {
        color: whitesmoke;
        box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.2);
        margin-left: 25px;
        border-radius: 25px;
    }
}
