#ingredient {
    text-align: center;

    article {
        width: 60%;
        margin: 0 auto;
    }

    img {
        margin-top: 30px;
    }

    p {
        word-break: break;
        white-space: normal;
    }

    .container {
        text-transform: none;
    }

    .content-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media only screen and (max-width: 1100px) {
            grid-template-columns: repeat(1, 1fr);
        }

        img {
            width: 150px;
            height: 150px;
        }
    }

    .suggested-use {
        @media only screen and (max-width: 1100px) {
            width: 90%;
            margin: 0 auto;
        }

        h2 {
            font-size: 36px;
        }

        img {
            width: 80%;
        }
    }

    .fact {
        display: flex;
        justify-content: space-evenly;

        @media only screen and (max-width: 1100px) {
            display: block;
        }

        img {
            height: 300px;
            width: 300px;
        }
    }
}
